// imports
@import 'variables.less';

// main body
// ----------------------
.main-body {
    margin-top: 20px;
}

// board
// ----------------------
.board {
    width: 408px;
    border: 4px solid black;
    border-radius: 3px;
}

// square rows
// ----------------------
.square-row {
    font-size: 0;
}

// squares
// ----------------------
.square {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: @lightBlue;
    border: 1px solid white;
}

// control sidebar
// ----------------------
.controls {
    background-color: grey;
    height: 500px;
}
